# Настройки приложения
DEBUG=True
HOST=0.0.0.0
PORT=8000

# ClickHouse
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=report_user
CLICKHOUSE_PASSWORD=report_bionicpro_2024
CLICKHOUSE_DATABASE=bionicpro_analytics

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:8080

# Пути
REPORTS_DIR=/app/reports